/*----- ENCABEZADO -----*/
.header{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*--TITULO--*/
.logo h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

/*-MENU-*/
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px; /*espacio entre items*/
    flex-wrap: wrap; /*permite que los iconos salten de linea si es necesario*/
}
.menu a{
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.menu a:hover{
    background: #0e2b4d;
    padding: 7px;
    border-radius: 12px;
    color: #fff;
    transform: translate(-2px);
}

.menu a:active{
    background: #0077ff;
    color: #fff;
    transform: scale(0.97);
}

.menu .btn-promos:hover{
    background: #ff3b3b;
    color:#fff;
    padding: 10px;
}
/* Boton destacado */
.btn-promos {
    background: #4a9aff;
    color: #fff !important;
    padding: 8px 15px;
    border-radius: 10px;
}

/*responsive moviles pequeños */ 
@media(max-width: 600px){
    .menu{
        justify-content: center; /*centra el menu en celulares*/
        gap: 15px;
    }
    .menu a {
        font-size: 15px;
        padding: 6px 12px;
    }
}

/*Responsive:Pantallas muy chicas*/
@media(max-width:420px){
    .menu{
        flex-direction: column; /*cambia el menu a vertical*/
        gap: 10px;
    }
    .menu a{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}

/*----BANNER---*/
.banner{
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Imagen del Banner */
.banner img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    filter: brightness(70%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Texto encima del Banner*/ 
.banner-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}


.banner-texto h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.banner-texto p{
    font-size: 18px;
    font-weight: 300;
}

/*----TITULO DE SECCION---*/
.titulo-seccion{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*----GRID CATEGORIAS---*/
.grid-categorias{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap: 20px;
}

/*---TARJETAS DE CATEGORIA---*/
.categoria-card{
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

.categoria-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.icono{
    font-size: 36px;
    margin-bottom: 10px;
}

.categoria-card h3{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.categoria-card p{
    font-size: 15px;
    color:#fff;
}

/*---SECCION FINAL ---*/
.contacto-final{
    text-align: center;
    margin: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
}


.btn-wsp {
  display: inline-block;
  padding: 10px 16px;
  background: #0077ff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-wsp:hover,
.btn-ubicacion:hover {
  background: #0059c9;
  transform: translateY(-2px);
}

/*ELECTRICIDAD */

/* ----- GRID DE PRODUCTOS ----- */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 18px;
  margin: 20px;
}

/* ----- TARJETA DE PRODUCTO ----- */
.producto {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.2s;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.producto img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.producto p {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.link{
    text-decoration: none;
    color: whitesmoke;
}

.electricidad{
    background-image: url(electricidad-nhdelg2l6ezb69jq961lmmwjwhshsor0oah2pz8lg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.herramienta{
    background-image: url(Uso-y-cuidado-de-tus-herramientas-de-ferreteria-industrial.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pintura{
    background-image: url(images.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.plomeria{
    background-image: url(images\ \(1\).jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mapa-contenedor{
    width: 100%;
    max-width: 350px;/*tamaño maximo en pantalla grande*/
    margin: 0 auto; /*centra el mapa*/
    padding: 20px;
}

.mapa-contenedor iframe{
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.15);
}
